# Python
__pycache__/
*.py[cod]

# dotenv
.env*
!.env.vault
!.env.template

# Ansible
.ansible
.facts_cache
inventory.ini
inventory.yml
inventory.yaml
secrets.yml
secrets.yaml

# Config
getPressures.json
getSHT30.json
getTemps.json

# Test config
!tests/fixtures/getTemps.json 
!tests/fixtures/getPressures.json 

# VS Code
.vscode
*.code-workspace

# Misc
.DS_Store
