---
server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://{{ LOKI_IP_ADDR }}:3100/loki/api/v1/push

scrape_configs:
  # - job_name: system
  #   static_configs:
  #     - targets:
  #         - localhost
  #       labels:
  #         job: varlogs
  #         __path__: /var/log/*.log  # symlinks in /var/log are seen as logs
  - job_name: shed
    static_configs:
      - targets:
          - localhost
        labels:
          service: getTemps
          __path__: {{ log_dir }}/getTemps.log
      - targets:
          - localhost
        labels:
          service: getSHT30
          __path__: {{ log_dir }}/getSHT30.log
      - targets:
          - localhost
        labels:
          service: getWeather
          __path__: {{ log_dir }}/getWeather.log
      - targets:
          - localhost
        labels:
          service: getPressures
          __path__: {{ log_dir }}/getPressures.log

