# The dot env file is selected based on whether the INVOCATION_ID env variable is set.
# The default '.env' file will be used when this variable is not set.
# Update '.env' as needed for testing, etc.

# INVOCATION_ID may also be set for a single execution like in the following:
# INVOCATION_ID=1 python assignSensors.py 

# LOG LEVELS from most to least: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL_GET_PRESSURES=INFO
LOG_LEVEL_GET_SHT30=INFO
LOG_LEVEL_GET_TEMPS=INFO
LOG_LEVEL_GET_WEATHER=INFO

SMB_SERVER_IP=
SMB_SERVER_PORT=
SMB_SHARE_NAME=
SMB_CONFIG_DIR=
SMB_USERNAME=
SMB_PASSWORD=

INFLUXDB_HOST=
INFLUXDB_PORT=
USERNAME=
PASSWORD=

SENSOR_DATABASE=
TEMP_SENSOR_DATABASE=

OPENWEATHERMAP_API_KEY=

LOCATION=
LATITUDE=
LONGITUDE=
