[Unit]
Description=Get ADS1115 Pressures
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/oneWireTemps
ExecStart=/usr/bin/python3 getADS1115.py

Restart=always
RestartSec=10
StartLimitInterval=120
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
