[Unit]
Description=Get ADS1115 Pressures
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/SandstoneDashboard
ExecStart=/home/pi/SandstoneDashboard/venv/bin/python getPressures.py
Environment=PYTHONUNBUFFERED=1

Restart=always
RestartSec=10
StartLimitInterval=120
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
